ide/CCIdeWorkSpace/.metadata/.lock
ide/CCIdeWorkSpace/.metadata/.log
ide/CCIdeWorkSpace/.metadata/.plugins/org.ccdt.intro/dialog_settings.xml
ide/ldtWorkplace/.metadata/.plugins/org.eclipse.core.resources/.projects/meiyongdewenjian/.markers
ide/ldtWorkplace/.metadata/.plugins/org.eclipse.core.resources/.history/b5/207aa574766c00141474f35ef5fb69de
ide/ldtWorkplace/.metadata/.plugins/org.eclipse.core.resources/.projects/string_package_test/.indexes/e4/history.index
ide/ldtWorkplace/.metadata/.plugins/org.eclipse.core.resources/.projects/table_package_test/.indexes/e4/history.index
ide/ldtWorkplace/.metadata/.plugins/org.eclipse.core.resources/.root/39.tree
ide/ldtWorkplace/.metadata/
